<div class="button-container">
    <button class="button-class purple" routerLink="/clientes">
        <fa-icon [icon]="customersIcon" size="6x"></fa-icon>
    </button>

    <button class="button-class green" routerLink="/">
        <fa-icon [icon]="materialIcon" size="6x"></fa-icon>
    </button>
    
    <button class="button-class blue" routerLink="/trabajos">
        <fa-icon [icon]="providersIcon" size="6x"></fa-icon>
    </button>
    
    <button class="button-class pink" routerLink="/facturas">
        <fa-icon [icon]="worksIcon" size="6x"></fa-icon>
    </button>
</div>
