.button-class{
    height:150px;
    width:150px;
    margin-right:1%;
    margin-bottom: 1%;
    border-radius: 10%;
    color:white;
    display: inline-block
}

.purple{
    background-color: purple;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.pink{
    background-color: rgb(167, 203, 46);
}

.button-container{
    padding: 10px;
    text-align: center;
}
