#container{
    margin-left: 1%;
    margin-top: 1%;
    display: inline-block
}
.card{
    width: 18rem;
    cursor: pointer
}
.card-img-top{
    width: 287px;
    height: 310px;
}

.card-body{
    border-radius: 3%;
}
#settings{
    position: fixed;
    right: 10px;
    top: 5px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    background-color: green;
    border-color: green;
    border-radius: 50%;
}
