<button class="settings-button" (click)="settingsClick()"><fa-icon [icon]="settingsIcon"></fa-icon></button>

<div id="container" *ngFor="let data of dataArray">
    
    <div class="card">
        <button class="delete-button" (click)="deleteClick(data)" *ngIf="settingsPressed"><fa-icon [icon]="cancelIcon"></fa-icon></button>
        <img (click)="DetailsModalMethod(data)" class="card-img-top" src="{{data.image}}">
        <div class="card-body" (click)="DetailsModalMethod(data)">
            <h3 class="card-title">{{data.field1value}} {{data.field2value}}</h3>
        </div>
    </div>
</div>

<button id="newCustomerButton" (click)="crearClienteClick()"><fa-icon [icon]="newCustomerIcon"></fa-icon></button>