   <form>
    <header >
            <h5>          
                Crear factura
            </h5>
      </header>
    <body> 
        <app-floating-button 
              buttonBorderColor="black" 
              buttonBackGroundColor="red" 
              buttonRight="10px" 
              buttonTop="10px" 
              buttonWidth="50px"
              buttonHeight="50px"
              [buttonIcon]="cancelIcon"
              buttonPosition="absolute"
              (click)="closeClick()"
        />
        <div [hidden]="!invoice.invoiceID">
          <app-invoice-state  (clickedButton)="stateButtonClicked()" [selectedButton]="invoice.invoiceState" [disabled]="!settingsPressed"></app-invoice-state>
        </div>
        <div class="form-group" [hidden]="!invoice.invoiceID">
          <label for="textInvoiceID">ID factura</label>        
          <input disabled style="width: 100%" name="textInvoiceID" [value]="invoice.invoiceID" type="text">
        </div>

        <div class="form-group" [hidden]="!invoice.invoiceID">
          <label for="textDate">Fecha</label>        
          <input disabled style="width: 100%" name="textDate" [value]="invoice.date" type="text">
        </div>

        <div class="form-group">
          <label for="textCustomer">Cliente</label>        
          <input disabled style="width: 100%" name="textCustomer" [value]="work.customer.firstName + ' ' + work.customer.lastName" type="text">
        </div>
        
        <div class="form-group" [hidden]="!invoice.invoiceID">
            <label for="select-iva" >Iva:</label>
                <mat-select [disabled]="!settingsPressed" [formControl]="iva" name="select-iva" class="form-control" id="select-iva" #singleSelect>   
                    <mat-option *ngFor="let iva of ivaList" [value]="iva">{{iva}}</mat-option>                            
                </mat-select>
        </div>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Concepto</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of rows; let i = index">
                <td width="650px">
                    <textarea [disabled]="invoice.invoiceState !== 'Borrador'" autosize style="width:100%;" name="invoiceTextArea{{i}}" [(ngModel)]="row.concept"></textarea>
                </td>
                <td width="50px">
                    <input [disabled]="invoice.invoiceState !== 'Borrador'" style="width: 100%" name="price{{i}}" type="number" [(ngModel)]="row.price">
                </td>
              </tr>
             
            </tbody>
          </table>     
          <button class="addRowButton" [hidden]="invoice.invoiceState !== 'Borrador'" (click)="addNewRow()">Añadir concepto</button>
          <div class="buttonDiv" [hidden]="invoice.invoiceID">
            <button class="confirmButton" (click)="createInvoice()"><fa-icon [icon]="checkIcon"></fa-icon></button>
          </div>
          <div class="buttonContainer">
            
            <div [hidden]="!invoice.invoiceID">
              <button class="invoiceButton" (click)="exportPDF()"><fa-icon [icon]="invoiceIcon"></fa-icon></button>
            </div>

            <div class="buttonDiv" [hidden]="!invoice.invoiceID">
              <button class="confirmButton" (click)="editInvoice()"><fa-icon [icon]="checkIcon"></fa-icon></button>
            </div>

            
          </div>         

        </body> 
    
</form>