

   <!-- invoicetype === 0 ? createWorkClick() : cambiarParams-->
   <form>
    <header >
            <h5>          
                Crear factura
            </h5>
      </header>
    <body> 
        <app-floating-button 
              buttonBorderColor="black" 
              buttonBackGroundColor="red" 
              buttonRight="10px" 
              buttonTop="10px" 
              buttonWidth="50px"
              buttonHeight="50px"
              [buttonIcon]="cancelIcon"
              buttonPosition="absolute"
              (click)="closeClick()"
        />
        
        <label hidden for="invoiceTextArea">Contenido factura: </label>
        <textarea hidden style="width:100%;" rows="5" cols="150" name="invoiceTextArea" [(ngModel)]="textArea" >

        </textarea>

        <div class="form-group">
            <label for="select-treatment" >Tratamiento:</label>
                <mat-select [formControl]="treatment" name="select-treatment" class="form-control" id="select-treatment" #singleSelect>   
                    <mat-option *ngFor="let treatment of treatmentList" [value]="treatment">{{treatment}}</mat-option>                          
                </mat-select>
        </div>
        
        <div class="form-group">
            <label for="select-iva" >Iva:</label>
                <mat-select [formControl]="iva" name="select-iva" class="form-control" id="select-iva" #singleSelect>   
                    <mat-option *ngFor="let iva of ivaList" [value]="iva">{{iva}}</mat-option>                            
                </mat-select>
        </div>

        <div class="form-group">
            <label for="select-place-type" >Lugar:</label>
            <mat-select [formControl]="placeType" name="select-place-type" class="form-control" id="select-place-type" #singleSelect>   
                <mat-option *ngFor="let placeType of placeTypeList" [value]="placeType">{{placeType}}</mat-option>                          
            </mat-select>
        </div>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Concepto</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of rows; let i = index">
                <td width="650px">
                    <textarea autosize style="width:100%;" name="invoiceTextArea{{i}}" [(ngModel)]="row.concept"></textarea>
                </td>
                <td width="50px">
                    <input style="width: 100%" name="price{{i}}" type="number" [(ngModel)]="row.price">
                </td>
              </tr>
             
            </tbody>
          </table>     
          <button (click)="addNewRow()">Añadir concepto</button>
          <div class="buttonDiv">
            <button class="confirmButton" (click)="exportPDF()"><fa-icon [icon]="checkIcon"></fa-icon></button>
          </div>

        </body> 
    
</form>