<div class="container-div">
    <form class="filter">
        <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Texto a filtrar</label>
            <div class="col-xs-3 col-sm-auto">
                <input name="filterName" id="table-filtering-search" class="form-control" type="text" [(ngModel)]="filter" />
            </div>
                <label for="table-filtering-type" class="col-xs-3 col-sm-auto col-form-label">Filtrar por:</label>
                <div class="col-xs-3 col-sm-auto">
                    <select name="filterTypeName" class="form-control" id="table-filtering-type" [(ngModel)]="filterType">   
                        <option value="0" selected>Trabajo</option>   
                        <option value="1">Cliente</option>  
                        <option value="2">Ciudad</option> +
                        <option value="3">Pagado</option>                        
                    </select>
                </div>
        </div>
        
    </form>
    
    <app-floating-button 
      buttonBorderColor="green" 
      buttonBackGroundColor="green" 
      buttonRight="10px" 
      buttonTop="10px" 
      [buttonIcon]="settingsIcon"
      (click)="settingsClick()">
    </app-floating-button>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Trabajo</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Cliente</th>
            <th scope="col">Pagado</th>
        </tr>
        </thead>
        <tbody>            
            <tr *ngFor="let work of works | filter : filter : filterType">
                <th (click)="editWorkClick(work)" scope="row">{{work.id}}</th>
                <td (click)="editWorkClick(work)">{{work.name}}</td>
                <td (click)="editWorkClick(work)">{{work.city}}</td>
                <td (click)="editWorkClick(work)">{{work.customer.firstName}}</td>
                <td (click)="editWorkClick(work)"><input type="checkbox" name="checkBoxPaid" [checked]="work.paid"/></td>
                <td>
                    <app-floating-button 
                    buttonBorderColor="red" 
                    buttonBackGroundColor="red" 
                    buttonRight="15px"
                    [buttonIcon]="cancelIcon"
                    *ngIf="settingsPressed"
                    (click)="deleteWorkClick(work)"
                    buttonPosition="absolute">
                    </app-floating-button> 
                </td>
            </tr>
        </tbody>
    </table>

    <app-floating-button 
        buttonBorderColor="green" 
        buttonBackGroundColor="green" 
        buttonBottom="10px"
        buttonRight="10px"
        buttonWidth="50px" 
        buttonHeight="50px" 
        [buttonIcon]="newCustomerIcon"
        [hidden]="settingsPressed"
        (click)="createWorkClick()">
    </app-floating-button>
</div>