<div class="container-div">
    <form class="filter">
        <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label"><h6>Buscar:</h6></label>
            <div class="col-xs-3 col-sm-auto">
                <input name="filterName" id="table-filtering-search" class="form-control" type="text" [(ngModel)]="filter" />
            </div>               

                <div class="col-xs-3 col-sm-auto">
                    <mat-select name="filterTypeName" class="form-control" id="table-filtering-type" [(ngModel)]="filterType" #singleSelect>   
                        <mat-option value="0">Trabajo</mat-option>   
                        <mat-option value="1">Cliente</mat-option>  
                        <mat-option value="2">Ciudad</mat-option> 
                        <mat-option value="3">Pagado</mat-option>                        
                    </mat-select>
                </div>
        </div>
        
    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Número factura</th>
            <th scope="col">Trabajo</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Cliente</th>
            <th scope="col">Pagado</th>
        </tr>
        </thead>
        <tbody>            
            <tr *ngFor="let work of works | filter : filter : filterType">
                <th (click)="editWorkClick(work)" scope="row">{{work.id}}</th>
                <td (click)="editWorkClick(work)">{{work.name}}</td>
                <td (click)="editWorkClick(work)">{{work.city}}</td>
                <td (click)="editWorkClick(work)">{{work.customer.firstName}} {{work.customer.lastName}}</td>
                <td (click)="editWorkClick(work)"><input type="checkbox" name="checkBoxPaid" [checked]="work.paid"/></td>
                <td>
                    <app-floating-button 
                    buttonBorderColor="red" 
                    buttonBackGroundColor="red" 
                    buttonRight="15px"
                    [buttonIcon]="cancelIcon"
                    *ngIf="settingsPressed"
                    (click)="deleteWorkClick(work)"
                    buttonPosition="absolute">
                    </app-floating-button> 
                </td>
                <td>
                    <app-floating-button 
                        buttonBorderColor="purple" 
                        buttonBackGroundColor="purple" 
                        buttonRight="15px"
                        buttonPosition="absolute"
                        [buttonIcon]="invoiceIcon"
                        (click)="generateInvoiceClick(work)">
                     </app-floating-button>
                </td>
            </tr>
        </tbody>
    </table>

    <app-floating-button 
        buttonBorderColor="black" 
        buttonBackGroundColor="green" 
        buttonBottom="10px"
        buttonRight="100px"
        buttonWidth="75px" 
        buttonHeight="75px" 
        [buttonIcon]="newWorkIcon"
        [hidden]="settingsPressed"
        (click)="createWorkClick()">
    </app-floating-button>

    <app-floating-button 
      buttonBorderColor="black" 
      buttonBackGroundColor="yellow" 
      buttonRight="10px" 
      buttonBottom="10px" 
      buttonHeight="75px"
      buttonWidth="75px"
      buttonIconColor="black"
      [buttonIcon]="settingsIcon"
      (click)="settingsClick()">
    </app-floating-button>
</div>