
.container-format{
    padding-top:5%;
}

#table-filtering-type{
    width:120px;
    min-width: 120px;
}
.container-div{
    text-align: center;
    padding-top: 100px;
}

.filter{
    padding-left: 10%;
}
#filterTypeName{
    width:200px;
    min-width: 200px;
}
#table-filtering-type{
    width:120px;
    min-width: 200px;
}
