#group-of-groups{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
}
#field-form{    
    padding-top: 2%;
    padding-bottom: 5%;
}
#image-container{
    margin-top: 5%;
    text-align: center;
}
.button-container{
    margin-top: 5%;
    text-align: center;
}
input + label{
    margin-top: 3%;
}
label{
    margin-bottom: 1%;
}
img{
    max-width:150px;
    max-height: 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
header{
    padding-left:20px;
    padding-top:30px;
}
body{
    padding-left:30px;
    padding-right:30px;
}