<div class="container-format">
    <form class="filter">
        <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label"><h6>Buscar:</h6></label>
            <div class="col-xs-3 col-sm-auto">
                <input name="filterName" id="table-filtering-search" class="form-control" type="text" [(ngModel)]="filterCardList" />
            </div>               

                <div class="col-xs-3 col-sm-auto">
                    <mat-select name="filterTypeName" class="form-control" id="table-filtering-type" [(ngModel)]="filterCardListType" #singleSelect>   
                        <mat-option value="0">Nombre</mat-option>   
                        <mat-option value="1">DNI</mat-option>  
                        <mat-option value="2">Dirección</mat-option> 
                        <mat-option value="3">Ciudad</mat-option>                        
                    </mat-select>
                </div>
        </div>
        
    </form>
    <div id="container" *ngFor="let data of dataArray | filterCardList : filterCardList : filterCardListType">
        <div class="card" (click)="editClick(data)">
    
            <app-floating-button 
                buttonBorderColor="red" 
                buttonBackGroundColor="red" 
                buttonTop="0"
                buttonRight="0"
                [buttonIcon]="cancelIcon"
                *ngIf="settingsPressed"
                (click)="deleteClick(data)"
                buttonPosition="absolute">
            </app-floating-button>
            <div class="card-title">
                <div class="img-container">
                    <img (error)="onErrorImage(data)" src="{{data.image}}" >
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{data.field2value}} {{data.field3value}}</h3>
            </div>
        </div>
    </div>
<app-floating-button 
        buttonBorderColor="black" 
        buttonBackGroundColor="green" 
        buttonBottom="10px"
        buttonRight="100px"
        buttonWidth="75px" 
        buttonHeight="75px" 
        [buttonIcon]="newCustomerIcon"
        [hidden]="settingsPressed"
        (click)="createClick()">
    </app-floating-button>
    
    <app-floating-button 
      buttonBorderColor="black" 
      buttonBackGroundColor="yellow" 
      buttonRight="10px" 
      buttonBottom="10px" 
      buttonHeight="75px"
      buttonWidth="75px"
      buttonIconColor="black"
      [buttonIcon]="settingsIcon"
      (click)="settingsClick()">
    </app-floating-button>

<!--
<div class="container-format">
    <form class="filter">
        <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label"><h6>Buscar:</h6></label>
            <div class="col-xs-3 col-sm-auto">
                <input name="filterName" id="table-filtering-search" class="form-control" type="text" [(ngModel)]="filterCardList" />
            </div>               

                <div class="col-xs-3 col-sm-auto">
                    <mat-select name="filterTypeName" class="form-control" id="table-filtering-type" [(ngModel)]="filterType" #singleSelect>   
                        <mat-option value="0">Nombre</mat-option>   
                        <mat-option value="1">DNI</mat-option>  
                        <mat-option value="2">Dirección</mat-option> 
                        <mat-option value="3">Ciudad</mat-option>                        
                    </mat-select>
                </div>
        </div>
        
    </form>
    <div id="container" *ngFor="let data of dataArray | filterCardList : filterCardList : filterType">    
        <div class="card">
            
            <app-floating-button 
                buttonBorderColor="red" 
                buttonBackGroundColor="red" 
                buttonTop="0"
                buttonRight="0"
                [buttonIcon]="cancelIcon"
                *ngIf="settingsPressed"
                (click)="deleteClick(data)"
                buttonPosition="absolute">
            </app-floating-button>
            <div class="card-title">
                <div class="img-container">
                    <img (click)="editClick(data)" (error)="onErrorImage(data)" src="{{data.image}}" >
                </div>
            </div>
            <div class="card-body" (click)="editClick(data)">
                <h3 class="card-title">{{data.field2value}} {{data.field3value}}</h3>
            </div>
        </div>
    </div>
</div>
<app-floating-button 
        buttonBorderColor="black" 
        buttonBackGroundColor="green" 
        buttonBottom="10px"
        buttonRight="100px"
        buttonWidth="75px" 
        buttonHeight="75px" 
        [buttonIcon]="newCustomerIcon"
        [hidden]="settingsPressed"
        (click)="createClick()">
    </app-floating-button>
    
    <app-floating-button 
      buttonBorderColor="black" 
      buttonBackGroundColor="yellow" 
      buttonRight="10px" 
      buttonBottom="10px" 
      buttonHeight="75px"
      buttonWidth="75px"
      buttonIconColor="black"
      [buttonIcon]="settingsIcon"
      (click)="settingsClick()">
    </app-floating-button>


-->