#container{
    margin-left: 1%;
    margin-top: 1%;
    display: inline-block
}
.card{
    width: 18rem;
    cursor: pointer
}
.card-img-top{
    width: 287px;
    height: 310px;
}

.card-body{
    border-radius: 3%;
}

.container-format{
    padding-top:5%;
}





