<div class="container-format">
    <div id="container" *ngFor="let data of dataArray">    
        <div class="card">
            
            <app-floating-button 
                buttonBorderColor="red" 
                buttonBackGroundColor="red" 
                buttonTop="0"
                buttonRight="0"
                [buttonIcon]="cancelIcon"
                *ngIf="settingsPressed"
                (click)="deleteClick(data)"
                buttonPosition="absolute">
            </app-floating-button>
        
            <img (click)="editClick(data)" class="card-img-top" (error)="onErrorImage(data)" src="{{data.image}}" >
            <div class="card-body" (click)="editClick(data)">
                <h3 class="card-title">{{data.field2value}} {{data.field3value}}</h3>
            </div>
        </div>
    </div>
</div>
<app-floating-button 
        buttonBorderColor="black" 
        buttonBackGroundColor="green" 
        buttonBottom="10px"
        buttonRight="100px"
        buttonWidth="75px" 
        buttonHeight="75px" 
        [buttonIcon]="newCustomerIcon"
        [hidden]="settingsPressed"
        (click)="createClick()">
    </app-floating-button>
    
    <app-floating-button 
      buttonBorderColor="black" 
      buttonBackGroundColor="yellow" 
      buttonRight="10px" 
      buttonBottom="10px" 
      buttonHeight="75px"
      buttonWidth="75px"
      buttonIconColor="black"
      [buttonIcon]="settingsIcon"
      (click)="settingsClick()">
    </app-floating-button>
