
<app-floating-button 
    buttonBorderColor="green" 
    buttonBackGroundColor="green" 
    buttonRight="10px" 
    buttonTop="10px" 
    [buttonIcon]="settingsIcon"
    (click)="settingsClick()">
</app-floating-button>

<div class="container-format">
    <div id="container" *ngFor="let data of dataArray">    
        <div class="card">
            
            <app-floating-button 
                buttonBorderColor="red" 
                buttonBackGroundColor="red" 
                buttonTop="0"
                buttonRight="0"
                [buttonIcon]="cancelIcon"
                *ngIf="settingsPressed"
                (click)="deleteClick(data)"
                buttonPosition="absolute">
            </app-floating-button>
        
            <img (click)="editClick(data)" class="card-img-top" (error)="onErrorImage(data)" src="{{data.image}}" >
            <div class="card-body" (click)="editClick(data)">
                <h3 class="card-title">{{data.field1value}} {{data.field2value}}</h3>
            </div>
        </div>
    </div>
</div>
<app-floating-button 
    buttonBorderColor="green" 
    buttonBackGroundColor="green" 
    buttonBottom="10px"
    buttonRight="10px"
    buttonWidth="50px" 
    buttonHeight="50px" 
    [buttonIcon]="newCustomerIcon"
    [hidden]="settingsPressed"
    (click)="createClick()">
</app-floating-button>
